<ng-container *ngIf="state$ | async as state">
  <div id="loader-container" *ngIf="state?.performingAction == true">
    <app-loader-one *ngIf="loader == 'loader-one'"></app-loader-one>
    <app-loader-two *ngIf="loader == 'loader-two'"></app-loader-two>
    <app-loader-three *ngIf="loader == 'loader-three'"></app-loader-three>
    <app-loader-four *ngIf="loader == 'loader-four'"></app-loader-four>
    <app-loader-five *ngIf="loader == 'loader-five'"></app-loader-five>
    <app-loader-six *ngIf="loader == 'loader-six'"></app-loader-six>
  </div>
</ng-container>
